<h1>Flight Booker</h1>

<%= form_with(url: "/flights", method: "get", local: true) do %>
  <%= label_tag(:from_id, "From airport") %>
  <%= select_tag(:from_id, options_for_select(@from_options)) %><br />

  <%= label_tag(:to_id, "To airport") %>
  <%= select_tag(:to_id, options_for_select(@to_options)) %><br />

  <%= label_tag(:date, "Flight date") %>
  <%= select_tag(:date, options_for_select(@date_options)) %><br />

  <%= label_tag(:num_tickets, "Number of tickets") %>
  <%= select_tag(:num_tickets, options_for_select(@num_tickets_options)) %><br />
  <%= submit_tag("Search") %>
<% end %>

<% unless @available_flights.empty? %>
  <%= form_with(url: "/bookings/new", method: "get", local: true) do %>
    <% @available_flights.each do |flight| %>
      <% flight_formatted = "From #{flight.from_airport.code}, To #{flight.to_airport.code}, Date #{flight.date_formatted}, Duration #{flight.duration}m" %>
      <%= radio_button("flight", "flight_id", flight.id) %><%=flight_formatted %><br />
    <% end %>
    
    <%= hidden_field_tag(:num_tickets, @num_tickets) %>
    <%= submit_tag("Submit") %>
  <% end %>
<% end %>
