<h1>Booking id <%= @booking.id %></h1>

<p>Flight date: <%= @flight.date %></p>
<p>From airport: <%= @flight.from_airport.code %></p>
<p>To airport: <%= @flight.to_airport.code %></p>
<p>Flight id: <%= @flight.id %></p>

<% @booking.passengers.each.with_index do |passenger, i| %>
  <h2>Passenger nยบ<%= i + 1 %></h2>
  <p>Name: <%= passenger.name %></p>
  <p>Email: <%= passenger.email %></p>
<% end %>
